<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link rel="manifest" href="manifest.json">

    <!-- un-comment this code to enable service worker
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('service-worker.js')
          .then(() => console.log('service worker installed'))
          .catch(err => console.log('Error', err));
      }
    </script>-->

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <script src="lib/firebase.js"></script>
    <script src="lib/angularfire.min.js"></script>
    <script>
      // Initialize Firebase
      var config = {
        apiKey: "",
        authDomain: "",
        databaseURL: "",
        projectId: "",
        storageBucket: "",
        messagingSenderId: ""
      };
      firebase.initializeApp(config);
    </script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
  <body ng-app="starter" ng-controller="MainCtrl">

    <ion-pane>

      <ion-header-bar class="bar-positive">
        <h1 class="title">Todo List</h1>
      </ion-header-bar>

      <ion-content>

        <form ng-submit="salvar(tarefa)">
          <ion-item class="item-input-inset">
              <label class="item-input-wrapper">
                <input type="text" placeholder="Tarefa" ng-model="tarefa.nome">
              </label>
              <button class="button button-small button-positive">
                Add
              </button>
            </ion-item>
          </form>

        <ion-list>
          <ion-item class="item-icon-left" ng-repeat="tarefa in tarefas">
            <i ng-if="tarefa.concluida" class="icon ion-checkmark balanced"></i>
            <h2>{{tarefa.nome}}</h2>
            <p>{{tarefa.data | date : 'MM/yyyy hh:mm'}}</p>
          </ion-item>
         
        </ion-list>

      </ion-content>

    </ion-pane>

  </body>
</html>
